<form [formGroup]="dataForm">
  <app-dialog-header title="New Product"></app-dialog-header>

  <mat-form-field class="mat-formfield-container">
    <mat-label>Product No</mat-label>
    <input
      matInput
      formControlName="ProductNo"
      placeholder="Please Enter"
      autocomplete="false"
    />
  </mat-form-field>

  <mat-form-field class="mat-formfield-container">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="Description"
      placeholder="Please Enter"
      autocomplete="false"
      rows="2"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="mat-formfield-container">
    <mat-label>Price</mat-label>
    <input
      matInput
      formControlName="Price"
      placeholder="Please Enter"
      autocomplete="false"
    />
  </mat-form-field>

  <app-dialog-footer
    [dialogRef]="dialogRef"
    (submitClick)="submitForm()"
  ></app-dialog-footer>
</form>
