.message-container {
  width: calc(100% - 50px);
  display: inline-block;
}

.button-container {
  width: 40px;
  display: inline-block;
  height: auto;
  margin-top: auto;

  button {
    height: 30px;
    line-height: 20px;
  }
}
